{% extends 'base.html' %}
{% block title %}Super Heroes Real Name{% endblock %}
{% block head %}
{% endblock %}]
 <p> {% if answer == previous_hero_real_name %}
        <h2>correct</h2> {{ answer }} is {{ previous_hero }}
     {% else %}
        <h2>try again:</h2> {{ answer }} is NOT {{ previous_hero }}
     {% endif %} </p>

{% block content %}
<img src="{{ character_images[random_hero] }}" alt="{{ random_hero }}" width="420">
<p>What is the real name of {{ random_hero }}?</p>
<form action="/answer" method="post">
<select name="answer">
    {% for option in heroes %}
        <option value="{{ character_info[option]['Real Name'] }}">{{ character_info[option]['Real Name'] }}</option>
    {% endfor %}

    input type value={{ previous_hero }}
    <input type="submit">
    <input type="hidden" name="random_hero" value="{{ random_hero }}">

{% endblock %}
</select>
</form>