{% extends 'base.html' %}
{% block title %}Super Heroes Real Name{% endblock %}
<hr>
<p>question.html</p>
 {% block head %} {{ super() }}{% endblock %}
{% block content %}
<img src="{{ character_images[hero] }}" alt="{{ hero }}" width="420">
<p>What is the real name of {{ hero }}?</p>
<form action="/answer" method="post">
<select name="answer">
    {% for option in heroes %}
        <option value="{{ character_info[option]['Real Name'] }}">{{ character_info[option]['Real Name'] }}</option>
    {% endfor %}
</select>
    <input type="submit">
    <input type="hidden" name="hero" value="{{ hero }}">
</form>
{% endblock %}