<h1>Super Heroes Real Name</h1>
<hr>

<style type="text/css">
        table { font-size: 30px; /*margin: auto;*/  margin: 4em; }
        body { color: Black; }
        html { background-color: lightblue; }
        body { border-style: solid; border-color: darkred; border-width: thick}

 </style>
 <!--<p> {% if answer == previous_hero_real_name %}-->
        <!--{% set correct_count = 1 %}-->
        <h2>correct</h2> {{ answer }} is {{ previous_hero }}
        <p>you have: {{ right_answers  }}
            <!--{% for i in p %}-->
                <!--{{ correct_count }}-->
                <!--{% set correct_count = correct_count + 1 %}-->
            <!--{% endfor %}-->
     {% else %}
        <h2>try again:</h2> {{ answer }} is NOT {{ previous_hero }}
     {% endif %} </p>


<img src="{{ character_images[random_hero] }}" alt="{{ random_hero }}" width="420">
<p>What is the real name of {{ random_hero }}?</p>
<form action="/answer" method="post">
<select name="answer">
    {% for option in heroes %}
        <option value="{{ character_info[option]['Real Name'] }}">{{ character_info[option]['Real Name'] }}</option>
    {% endfor %}

    input type value={{ previous_hero }}
    <!--{% set correct_count=correct_count or 0 %}-->
    <!--input type value={{ correct_count }}-->
    <input type="submit">
    <input type="hidden" name="random_hero" value="{{ random_hero }}">
    <!--<input type="hidden" name="correct_count" value="{{ correct_count }}">-->


</select>
</form>