<body>
<h1>Super Heroes</h1>
<h3></h3>
<hr>
    <style type="text/css">
        table { font-size: 30px; /*margin: auto;*/  margin: 4em; }
        body { color: Black; }
        html { background-color: lightblue; }
        body { border-style: solid; border-color: darkred; border-width: thick; }
    </style>
<a href="{{ url_for('show_question') }}">Test Your Super Skills</a>


<table>
    {% for hero in heroes %}
    <tr>
        <td><img src="{{ character_images[hero] }}" alt="{{ hero }}" width="420"></td>
        <td>{{ hero }}: </td>
        <td>{{ character_info[hero]['Real Name'] }}</td>
    </tr>
    {% endfor %}
</table>
</body>