<h1>Super Heroes Real Name</h1>
<hr>
<p>index.html</p>

<style type="text/css">
        table { font-size: 30px; /*margin: auto;*/  margin: 4em; }
        body { color: Black; }
        html { background-color: lightblue; }
        body { border-style: solid; border-color: darkred; border-width: thick}

 </style>

 <p> {% if {{ answer }} == {{ previous_hero_real_name }} %} correct {% endif %} </p>
 <p>answer: {{ answer }} </p>
 <p>previous_hero_name: {{ previous_hero_real_name }</p>

<img src="{{ character_images[random_hero] }}" alt="{{ random_hero }}" width="420">
<p>What is the real name of {{ random_hero }}?</p>
<form action="/answer" method="post">
<select name="answer">
    {% for option in heroes %}
        <option value="{{ character_info[option]['RealName'] }}">{{ character_info[option]['RealName'] }}</option>
    {% endfor %}

    input type value={{ previous_hero }}
    <input type="submit">
    <input type="hidden" name="random_hero" value="{{ random_hero }}">


</select>
</form>